.tag-button {
  background: #7211b3;
  padding: 0.5rem 1rem;
  margin: 7px;
  border-radius: 8px;
  border: none;
  box-shadow: 2px 2px 6px rgba(0,0,0,0.2);
  cursor: pointer;
  transition: 0.3s;
}

.tag-button:hover {
  background-color: #7211b3;
}
